.carousel-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap; /* Prevent line breaks */
}

/* Carousel Slides */
.carousel-slide {
  display: inline-block;
  /* vertical-align: top; */

  white-space: normal; /* Reset white-space property */
  transition: transform 0.3s ease-in-out;
}
.carousel-slide img {
  width: auto; /* Adjust the width as needed */
  /* height: 1rem;  */
}
  
  /* Navigation Arrows */
  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--white);
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .carousel-arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  /* Pagination Dots */
  .carousel-dots {
    text-align: center;
    margin-top: 10px;
  }
  
  .carousel-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel-dot.active {
    background-color: #333;
  }
  